{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}HOMETEX{% endblock %}</title>

  {% load static %}
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

  <style>
    .ph {
      background-size: cover;
      background-position: center;
    }
  </style>

  {% block extra_head %}{% endblock %}
</head>
<body class="text-[#333] font-sans bg-[#D1D3D3]">

  {% include "includes/header.html" %}

  {% block content %}{% endblock %}

  {% include "includes/footer.html" %}

  {% block extra_scripts %}{% endblock %}
</body>
</html>